<system.webServer>
    <rewrite>
        <rules>
            <rule name="directToSubFolder" stopProcessing="true">
                <match url="^$" />
                <action type="Rewrite" url="http://vladdoccoder.github.io" />
            </rule>
        </rules>
    </rewrite>
</system.webServer>
